.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &-item::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border-radius: 4px;
    background-color: #f5f4fa;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
  }

  &-item:nth-child(1)::before {
    background-image: url("../images/antenaetc/antenna.png");
  }

  &-item:nth-child(2)::before {
    background-image: url("../images/antenaetc/clock.png");
  }

  &-item:nth-child(3)::before {
    background-image: url("../images/antenaetc/diagram.png");
  }

  &-item:nth-child(4)::before {
    background-image: url("../images/antenaetc/astronaut.png");
  }

  &__subtitle {
    color: $title-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

  &__text {
    color: $main-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  }
}

@media screen and (min-width: 768px) {
  .adventeges {
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &-item::before {
        width: 354px;
      }

      &__subtitle {
        color: $title-color;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
      }

      &__text {
        color: $main-text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 171.429%;
        letter-spacing: 0.42px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    display: flex;
    gap: 30px;



    &__subtitle {
      color: $title-color;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.42px;
      text-transform: uppercase;
    }

    &__text {
      color: $main-text-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 171.429%;
      letter-spacing: 0.42px;
    }
  }
}
