
.join__text {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .join__list {
    display: flex;
    gap: 10px;
  }
  .join__item {
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    height: 44px;
    width: 44px;
    padding: 12px 12px;
  }
  .join__item:hover {
    background-color: var(--link-color);
  }
  
  .join__item-link-svg {
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
  }
  
  