.portfolio__section {
  padding-bottom: 60px;
  padding-top: 60px;
}
.portfolio__section__btn-list {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}

.portfolio__btn {
  font-family: "Roboto", sans-serif;
  color: $title-color;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: 0.48px;

  border-radius: 4px;
  background: #f5f4fa;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color $animation, color $animation,
    box-shadow $animation;

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: $logo-footer-color;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}


@media screen and (min-width: 768px) {
  .portfolio__section__btn-list {
    width: auto;
    margin-bottom: 30px;
    justify-content: center;
  }
  }
