

@media screen and (min-width:480px) {
    .project__content {
        padding: 20px 24px;
        }
           
}

@media screen and (min-width:768px) {
    .project__content {
        padding: 20px 24px;
        }
        
}

@media screen and (min-width:1200px) {
    .project__content {
        padding: 20px 24px;
        }
        
}